<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>ToDoList!</title>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css" >  
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form method="POST">
	{{form.hidden_tag()}}
	<center>
	<div>
		<h3>Stuff:</h3>
		{{form.stuff(class="form-control", style="width:50%",placeholder="Stuff")}}
	</div>
	<div>
		<h3>Time:</h3>
		{{form.time(class="form-control", style="width:50%",placeholder="Time")}}
	</div>
	<p><input class="btn btn-success" type="submit" name="提交！"></p>
	</center>
</form>	
<h3>
	<div class="table-responsive">
		<table class="table">
			<tbody>
			<thead>
				<tr>
					<th>Stuff</th>
					<th>Time</th>
					<th>Delete</th>
				</tr>
			</thead>
			{% for stuff in stuffs %}
				<tr class="warning">
					<form method="POST">
						<td><span class="label label-warning">{{stuff.stuff}}</span></td>
						<td>{{stuff.time}}</td>
						<td><input class="btn btn-danger" type="submit" name="{{stuff.id}}" value="删除"></td>
					</form>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</h3>
</body>
</html>