<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>SignIn!</title>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css" >  
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
</head>
<body>
<center>
	{%with messages = get_flashed_messages()%}
	{%if messages%}
		{%for message in messages%}
		<h3>
			<span class="label label-danger">{{message}}</span>
		</h3>
		{% endfor %}
	{% endif %}
	{% endwith %}
	<div>
		<h3>
			{{form.username(class="form-control", style="width:25%", placeholder="Username")}}
		</h3>
	</div>
	<div>
		<h3>
			{{form.password(class="form-control", style = "width:25%", placeholder="Password")}}
		</h3>
	</div>
	<p>
		<input class="btn btn-primary" type="submit" name="register" value="登录">
		<input class="btn btn-success" type="submit" name="register" value="注册">
	</p>
</center>
</body>
</html>